body{
	background-color: #FFFCE2;
	background-size: 300px 100px
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#nav li {
height: 40px;
line-height: 40px;
float: left;
}
#RI {
	padding-right: 150px;
	padding-top: 50px;
}
#nav li a {
display: block;
color: #fff;
padding: 8px 16px;
text-decoration: none;
}
#centered{
	text-align: center;
}
/* Change the link color to #111 (black) on hover */
#nav li a:hover {
background-color: #111;
}